<h1>Welcome to ToDo Task Master</h1>
<div class="container">
  <% @todo_items_all.each do |todo_item| %>
  <div class="row ">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-tile">
          <h5>  Created_by: <%= todo_item.user.fullname %><br></h5>
        </div>
        <div class="card-content">
          <h6>
          Task_name: <%= todo_item.item_name%><br>
          Description: <%= todo_item.body %><br>
          Status: <%= todo_item.status %><br>
          </h6>
          <h5>Comments:</h5>
          <h6>
          <% todo_item.comments.each do |c| %>
         <%= c.body %>   <br> by: <%= c.user.fullname%>
          <br><br>
          <%end%></h6>
          <br>
          <button class="right">
          <%= link_to 'comment', new_users_todo_item_comment_path(todo_item) %>
          </button>
      </div>
    </div>
  </div>
  <%end%>
</div>
