<div class="container">

<h1>New</h1>
<%= form_for @todo_item, url: users_todo_items_url do |form| %>
    <% if @todo_item.errors.any? %>
      <div id="error_explanation">
        <%= pluralize(@todo_item.errors.count, "error") %> prohibited this Task from being saved:
        <ul>
        <% @todo_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="field">
    <%= form.label :Task_name %>
    <%= form.text_field :item_name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
